<div class='flex items-center h-screen w-full bg-teal-500'>
	<div class='w-full bg-white rounded shadow-lg p-8 m-4 md:max-w-md md:mx-auto'>
		<h1 class='block w-full text-center text-3xl mb-6 font-bold'>New Recipe</h1>
    <%= render 'form', recipe: @recipe %>		
	</div>
</div>