<section class="py-8 text-center">
  <h1 class="text-5xl mb-2">Real Prairie Delights</h1>
  <p class="text-xl mb-8">❤️ A Ruby on Rails Recipe-Saving Application ❤️</p>
  <%= link_to "New Recipe", new_recipe_path, class: "bg-teal-500 hover:bg-teal-700 text-white font-bold py-4 px-8 rounded" %>
</section>

 