<section class="py-8 text-center">
  <h1 class="text-5xl mb-2">Real Prairie Delights</h1>
  <p class="text-xl mb-8">❤️ A Ruby on Rails Recipe-Saving Application ❤️</p>
  <%= link_to "New Recipe", new_recipe_path, class: "bg-teal-500 hover:bg-teal-700 text-white font-bold py-4 px-8 rounded" %>
</section>

<p class="text-center">
  <strong>Developed</strong> with <span class="text-red-700">❤️</span><!--%= icon("fas", "heart") %--> by Tim Fleming | aka: The <strong>GREAT</strong> One | <a target="_blank" href="https://icons8.com/icons/set/cutlery">Cutlery Icon</a> by <a target="_blank" href="https://icons8.com">Icons8</a> | Real Prairie Delights &copy; 2020      
</p>

 