<footer class='text-center'>
  <strong>Developed</strong> with <span class='text-red-700'><i class="fas fa-heart"></i>️</span> by Tim Fleming | aka: The <strong>GREAT</strong> One | <a target='_blank' href='https://icons8.com/icons/set/cutlery'>Cutlery Icon</a> by <a target='_blank' href='https://icons8.com'>Icons8</a> | Real Prairie Delights &copy; 2020
</footer>